.weather {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bolder;
}

.weather p {
  margin: 1rem;
  font-size:2rem;
}

.temp {
    font-size: 5rem;
}
